.cardPrice {
    border: 2px solid $border;
    border-radius:  32px;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0 40px 0;

    h6 {
        font-size: 24px;
        font-weight: 600;
        color: $black;
        margin: 0;
    }

    .icon {
        margin: 19px 0 0 0;
        max-width: 100%;
        height: auto;
    }

    .price {
        font-size: 48px;
        font-weight: 700;
        color: $black;
        margin: 16px 0 0 0; 
    }

    .line {
        margin: 15px 0 0 0;
        //max-width: 100%;
    }

    ul {
        margin: 24px 0 0 0;
        padding: 0;
    }

    li {
        list-style-type: none;
        color: $grey;
        text-align: center;
    }

    input {
        background-color: $blue;
        color: $white;
        max-width: 220px;
        height: 56px;
        border-radius: 8px;
        margin: 24px 0 0 0;
    }
}

.cardPrice:hover {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);

    .price {
        color: $blue;
    }
}