//Colors
$white: #ffffff;
$black: #1A1A1A;
$grey: #7E7E7E;
$blue: #3A80BA;
$blue-dark: #255D8B;
$blue-dark-footer: #1C3B55;
$blue-text: #255D8C;
$bg-table-light: #FBFBFB;
$border: #F1F1F1;
$box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);

//Dimetions
$container-width: 1200px;

//Transitions
$custom-transition-3: all 0.3s ease;

